# importing library and data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("concrete_data.csv")
df.head(5)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
df.dtypes

Cement                float64
Blast Furnace Slag    float64
Fly Ash               float64
Water                 float64
Superplasticizer      float64
Coarse Aggregate      float64
Fine Aggregate        float64
Age                     int64
Strength              float64
dtype: object

# Scaling and test train split

In [5]:
dataset_x=df.iloc[:, 0:8]
dataset_y=df.iloc[:, 8]
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
dataset_x=scalar.fit_transform(dataset_x)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset_x, dataset_y, test_size=0.33)

#  Modelling with LinearRegression

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
import matplotlib.pyplot as plt

  
# create linear regression object 
regs = linear_model.LinearRegression() 
  
# train the model using the training sets 
regs.fit(X_train, y_train) 
  
# regression coefficients 
print('Coefficients: \n', regs.coef_) 
  
# variance score: 1 means perfect prediction 
print('Variance score: {}'.format(regs.score(X_test, y_test)))

Coefficients:
 [11.03242088  7.33086362  4.77581028 -4.34508174  1.60978239  0.6034844
  0.38875614  7.04904237]
Variance score: 0.6179208263715202

In [8]:
dataset_x[0]

array([ 2.47791487, -0.85688789, -0.84714393, -0.91676439, -0.62044832,
        0.86315424, -1.21767004, -0.27973311])

In [10]:
import pickle
pickle_out = open("model.pkl","wb")
pickle.dump(regs, pickle_out)
pickle_out.close()

In [ ]:
regs.predict([[ 2.47791487, -0.85688789, -0.84714393, -0.91676439, -0.62044832,
        0.86315424, -1.21767004, -0.27973311]])